<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # 1. Kontrola, či požiadavka NIE JE existujúci súbor alebo priečinok
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # 2. Ak nie je, pošli to na index.php (Laravel Front Controller)
    RewriteRule ^ index.php [L]

    # Handle Authorization Header (Voliteľné, ale nechajte)
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
